:root {
    --ff-grstand: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    overflow-x: hidden;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    width: 100%;
    background-color: #242424;
}


.top-container {
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(117.185deg, rgb(254, 171, 42) 5.27381%, rgb(224, 78, 107) 97.1786%);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav {
    width: 50%;
    min-height: 140px;
    /* background-color: rgb(0, 0, 0); */
    background: transparent;
    display: block;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    border-radius: 10px;

}

.nav a {
    color: rgb(0, 0, 0);
    font-size: calc(2rem);
    font-family: var(--ff-grstand);
    text-decoration: none;
    margin-left: 1rem;
    /* margin-bottom: 26rem; */
    background: linear-gradient(117.185deg, rgba(254, 173, 42, 0.466) 5.27381%, rgba(224, 78, 107, 0.24) 97.1786%);
    padding: 0px 40px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.nav a:hover {
    color: white;
    background: linear-gradient(-242.914deg, rgba(224, 78, 107, 0.205) 8.27083%, rgba(254, 173, 42, 0.288) 91.7232%);
    opacity: .9;
}

.nav a::selection {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.meteo {
    position: absolute;
    right: 0;
    top: 0;
}

.iframe-meteo {
    /* position: absolute; */
    right: 0;
    top: 0;
}


.text-container {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    white-space: nowrap;
    overflow: hidden;



}


.text-container__text {
    width: auto;
    font-family: sans-serif;
    /* font-size: 6vh; */
    font-size: min(6vh);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    animation: run 5s linear infinite;

}

.text-container__text :nth-child(1) {

    color: darkblue;
}

.text-container__text :nth-child(2) {
    color: rgb(255, 255, 255);
    font-style: italic;
    background: linear-gradient(117.185deg, rgb(254, 171, 42) 5.27381%, rgb(224, 78, 107) 97.1786%);

}


.magasin {
    width: 100%;
    display: flex;
    justify-content: center;

}

.magasin img {
    max-width: 100%;
    margin: auto 0;
}

.point-relais {
    width: 100%;
    display: flex;
    justify-content: center;

}

.point-relais img {
    max-width: 100%;
    margin: auto 0;

}

@keyframes run {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        /* -webkit-transform: translate3d(-100%, 0, 0); */
        transform: translate3d(-100%, 0, 0)
    }
}



@media screen and (min-width: 960px) {
    .nav {
        display: flex;
        width: 80%;
        min-height: 140px;
        /* background-color: rgb(0, 0, 0); */
        background: transparent;
        justify-content: left;
        align-items: center;
        padding: 1rem;
        z-index: 1000;
        position: relative;
        border-radius: 10px;
    }

    .text-container {
        width: 100%;
        /* overflow: hidden; */
        background-color: rgb(255, 255, 255);
        display: flex;
        white-space: nowrap;
        overflow: hidden;
    }
}