:root {
    --ff-grstand: 'Zen Kaku Gothic Antique', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wrapper {
    width: 100%;
    border: #bdcbd4 solid 1px;
    backdrop-filter: blur(6px);


}


.top-container {
    margin: 0 auto;
    /* width: 100%; */
    max-width: 1440px;
    background: linear-gradient(117.185deg, rgb(254, 171, 42) 5.27381%, rgb(224, 78, 107) 97.1786%);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    /* align-items: center; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    /* width: 50%; */
    min-height: 140px;
    background: transparent;
    display: block;
    justify-content: left;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;

}

.nav a {
    color: rgb(0, 0, 0);
    font-size: calc(1.5rem);
    font-family: var(--ff-grstand);
    text-decoration: none;
    margin-left: 1rem;
    background: linear-gradient(117.185deg, rgba(254, 173, 42, 0.466) 5.27381%, rgba(224, 78, 107, 0.24) 97.1786%);
    padding: 0px 15px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    position: relative;



}

.nav a:hover {
    color: white;
    background: linear-gradient(-242.914deg, rgba(224, 78, 107, 0.205) 8.27083%, rgba(254, 173, 42, 0.288) 91.7232%);
    opacity: .9;

}



.nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 0%;
    background: linear-gradient(-242.914deg, rgba(224, 78, 107, 0.205) 8.27083%, rgba(254, 173, 42, 0.288) 91.7232%);
    height: 1px;
    transition: width 0.25s ease-out;


}

.nav a:hover:before {
    width: 50%;
    right: auto;
}




.meteo {}

.iframe-meteo {
    /* position: absolute; */
    right: 0;
    top: 0;
}


.text-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* white-space: nowrap; */
    overflow: hidden;
    margin: auto;
    max-width: 1700px;



}


.text-container__text {
    width: auto;
    font-family: sans-serif;
    font-size: max(3vw, 30px);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    animation: run 5s linear infinite;

}

.text-container__text :nth-child(1) {

    color: darkblue;
}

.text-container__text :nth-child(2) {
    color: rgb(255, 255, 255);
    font-style: italic;
    background: linear-gradient(117.185deg, rgb(254, 171, 42) 5.27381%, rgb(224, 78, 107) 97.1786%);
    position: relative;


}

#exo:hover::before {
    width: 100%;
    right: auto;

}

#exo:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: linear-gradient(-242.914deg, rgb(0, 0, 0) 8.27083%, rgba(254, 173, 42, 0.288) 91.7232%);
    height: 1px;
    transition: width 0.25s ease-out;

}



#magasin {
    width: 100%;
    height: 500px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s ease-in-out;
    animation: pschit 20s infinite step-start;


}

@keyframes pschit {
    0% {
        background: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    10% {
        background: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    20% {
        background: url(https://images.unsplash.com/photo-1534723452862-4c874018d66d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    30% {
        background: url(https://images.unsplash.com/photo-1506617420156-8e4536971650?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1723&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    40% {
        background: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    50% {
        background: url(https://images.unsplash.com/photo-1543168256-418811576931?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    60% {
        background: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    70% {
        background: url(https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    80% {
        background: url(https://images.unsplash.com/photo-1526470498-9ae73c665de8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=998&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    80% {
        background: url(https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    90% {
        background: url(https://images.unsplash.com/photo-1545601445-4d6a0a0565f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    100% {
        background: url(https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.cta-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 0, 0); */
    transform: translateY(100%);

}

#cta {
    width: 50%;
    max-width: 350px;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 74, 2, 0.075);
    align-items: center;
    transition: all 1s;
    overflow: hidden;

}

#cta:hover {
    backdrop-filter: blur(2.5px);
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

}


#cta a {
    font-family: var(--ff-grstand);
    font-weight: 800;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.349);
    padding: 6px 38px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 1s;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

}

#cta a:hover {
    background: linear-gradient(117.185deg, rgba(254, 173, 42, 0.685) 5.27381%, rgba(224, 78, 107, 0.76) 97.1786%);
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;



}


#magasin img {
    /* width: 100%; */
    max-width: 100%;
    margin: auto 0;

}

/* ------------------------------------------Point relais */

#point-relais {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 2s ease-in-out;
    background: rgb(255, 255, 255);
}

#point-relais:hover {
    background: rgba(255, 255, 255, 0.61);

}

#horaires, #map {
    width: 100%;
    margin: 0 auto;
    padding: .5rem;
}

/* ------------------------------------------Point relais */

/* ------------------------------------------Contact */
#contact {
    width: 100%;
    /* max-height: 40vh; */
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    caret-color: red;
    background-color: #222222d6;

}

#contact form {
    width: 80%;
    margin: 2rem;

}

.input-container {}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    background-color: transparent;
    padding: 3px 40px;
    color: white;
    /* font-size: calc(1.5rem); */
    font-family: var(--ff-grstand);
    border-radius: 8px;



}

#contact ::placeholder {
    color: white;
    font-family: var(--ff-grstand);
}

#contact textarea, input {
    color: white;
    /* font-size: calc(1.5rem); */
    font-family: var(--ff-grstand);
}

.col {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;

}

.col input, textarea {
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    border-radius: 8px;

}

/* ------------------------------------------Contact */

.guide {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;


}


.iframe-guide {
    background-color: rgb(0, 0, 0)(255, 255, 255);
    height: 500px;
}

@keyframes run {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        /* -webkit-transform: translate3d(-100%, 0, 0); */
        transform: translate3d(-100%, 0, 0)
    }
}



@media screen and (min-width: 960px) {

    body {
        background: url(./jeshoots-com-7VOyZ0-iO0o-unsplash.jpg);
        background-repeat: repeat;
        background-blend-mode: lighten;
        background-attachment: fixed;

    }

    .wrapper {

        width: 80%;
        margin: 0 auto;
    }

    .top-container {
        width: 100%;
        height: 89px;
        align-items: center;
        flex-direction: row;

    }


    .nav {
        display: flex;
        width: 80%;

    }

    .nav a {
        padding: 0px 13px;
        text-transform: uppercase;
        justify-content: center;
    }

    /* #top a span {
        font-family: monospace;
        font-size: 10px;
        color: red;
    } */

    .text-container {
        width: 100%;
        /* overflow: hidden; */
        background-color: rgb(255, 255, 255);
        display: flex;
        white-space: nowrap;
        overflow: hidden;
    }

    .text-container__text {
        width: auto;
        font-family: sans-serif;
        font-size: 2.65vw;
        background-color: rgb(255, 255, 255);
        white-space: nowrap;
        animation: run 5s linear infinite;

    }


    #magasin {
        width: 100%;
        height: 930px;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 3s ease-in-out;
        animation: pschit 20s infinite step-start;


    }

    #point-relais {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: all 2s ease-in-out;


    }

    #point-relais img {
        width: 60%;
        max-width: 960px;

    }


}